@font-face {
  font-family: Ftyoverkillironcladnc-1Lj4;
  src: url(./assets/Ftyoverkillironcladnc-1Lj4.otf);
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./assets/ocean.jpg");
  background-repeat: no-repeat, repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
  color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(6, 6, 59);
  height: 10%;
}

h1 {
  font-family: "Ftyoverkillironcladnc-1Lj4", "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif;
  color: #000;
  background: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );
  font-size: 50px;
  padding: 10px 45px;
  border-radius: 30%;
}

main {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.instructions {
  text-align: center;
  align-items: center;
  background: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );
  height: 10%;
  color: black;
  font-size: 2.5rem;
  margin-top: 20px;
  font-weight: 900;
}
h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: black;
}
.game-area-container {
  border: 1px solid black;
  display: flex;
  margin: auto;
  padding: 0 165px;
  background: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );
  border-radius: 38%;
}
.player-board-container,
.computer-board-container {
  height: 580px;
  width: 500px;
  margin: 1.5vw 5vw 5vw 5vw;
}

.row {
  display: grid;
  grid-template-columns: repeat(10, 55px);
  grid-template-rows: 55px;
  justify-content: center;
}

.row div {
  background-color: rgba(6, 6, 59, 0.8);
  border: 3px solid rgba(0, 0, 0, 0.8);
}
